DISCORD_TOKEN=https://discord.com/api/webhooks/1411763604448870512/eO3v6h-AeHELX4lfBJ--XJ5JFxS2DzJ62hu5vik2yZN0YrrjotgBf_Jlv1nugyft_1oB
TWITCH_APP_ID=YOUR_TWITCH_APP_ID
TWITCH_SECRET=YOUR_TWITCH_SECRET
HF_TOKEN=YOUR_HF_TOKEN(IF USING GATED HUGGINGFACE MODEL)